@import "~materialize-css/dist/css/materialize.css";

.auth-button-margin {
  margin-right: 10px;
}

.textarea-margin {
  margin-top: 5px;
}

.btn-clear {
  margin-left: 5rem;
}

.home_name {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
}

.moto_text {
  text-align: justify;
}

.question {
  margin-top: 10rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: bold;
}

.list {
  text-align: center;
}

.todo {
  text-align: center;
  font-weight: bold;
  margin-top: 15rem;
}
